<!--Carousel Wrapper-->
<div id="video-carousel-example" class="carousel slide carousel-fade" data-ride="carousel"
    style="margin: 0;padding: 0;">
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#video-carousel-example" data-slide-to="0" class="active"></li>
        <li data-target="#video-carousel-example" data-slide-to="1"></li>
        <li data-target="#video-carousel-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <video class="video-fluid" style="width: 100%;" autoplay loop muted>
                <source src="image/mother kiss.mp4" type="video/mp4" />
            </video>
        </div>
        <div class="carousel-item">
            <video class="video-fluid" style="width: 100%;" autoplay loop muted>
                <source src="image/forest.mp4" type="video/mp4" />
            </video>
        </div>
        <div class="carousel-item">
            <video class="video-fluid" style="width: 100%;" autoplay loop muted>
                <source src="image/dog.mp4" type="video/mp4" />
            </video>
        </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#video-carousel-example" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#video-carousel-example" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
</div>
<!--Carousel Wrapper-->

<main>
    <div class="container">

        <div class="container mt-5">


            <!--Section: Content-->
            <section class="dark-grey-text text-center">
                <% if(books.length > 0) { %>
                <!-- Section heading -->
                <h1 class="font-weight-bold mb-4 pb-2">Our Books</h1>

                <!-- Grid row -->
                <div class="row">
                    <% books.forEach(book => { %>
                    <!-- Grid column -->
                    <div class="col-lg-3 col-md-6 mb-4 align-items-stretch">
                        <!-- Card -->
                        <div class="card align-items-center">
                            <!-- Card image -->
                            <div class="view overlay">
                                <img style="height: 200px;" src="<%= book.imageUrl %>" class="card-img-top"
                                    alt="<%= book.title %>">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!-- Card image -->
                            <!-- Card content -->
                            <div class="card-body text-center">
                                <!-- Category & Title -->
                                <!-- <a href="" class="grey-text">
                                    <h6>Shirt</h6>
                                </a> -->
                                <h3 class="mb-3">
                                    <strong>
                                        <p clss="dark-grey-text">"<%= book.title %>"
                                        </p>
                                    </strong>
                                </h3>
                                <h5 class="mb-3">
                                    <strong>
                                        <p class="dark-grey-text"><%= book.author %>
                                        </p>
                                    </strong>
                                </h5>
                                <h5 class="mb-3">
                                    <strong>
                                        <p class="dark-grey-text"><%= book.publisher %>
                                        </p>
                                    </strong>
                                </h5>

                                <h5 class="font-weight-bold blue-text mb-4">
                                    <strong>$<%= book.price %></strong>
                                </h5>
                                <h5 class="mb-3">
                                    <p class="dark-grey-text"><%= book.description.substring(0,30)+'.....' %></p>
                                </h5>
                                <button type="submit" class="btn btn-success">Add to Card</button>
                            </div>
                            <!-- Card content -->
                        </div>
                        <!-- Card -->
                    </div>
                    <!-- Grid column -->
                    <% }); %>
                </div>
                <!-- Grid row -->
                <% }else{ %>

                <h1 class="display-4 text-center my-5 text-danger">Nothing Here</h1>

                <% } %>
            </section>
            <!--Section: Content-->


        </div>

    </div>
</main>

<div class="container">

    <div class="container z-depth-1 my-5 px-0">

        <!--Section: Content-->
        <section class="my-md-5"
            style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(97).jpg'); background-size: cover; background-position: center center;">

            <div class="rgba-black-strong rounded p-5">

                <!-- Section heading -->
                <h3 class="text-center font-weight-bold text-white mt-3 mb-5">Contact Us</h3>

                <form class="mx-md-5" action="">

                    <div class="row">
                        <div class="col-md-6 mb-4">

                            <div class="card">
                                <div class="card-body px-4">

                                    <!-- Name -->
                                    <div class="md-form md-outline mt-0">
                                        <input type="text" id="name" class="form-control">
                                        <label for="name">Your Name</label>
                                    </div>
                                    <!-- Email -->
                                    <div class="md-form md-outline">
                                        <input type="text" id="email" class="form-control">
                                        <label for="email">Your Email Address</label>
                                    </div>
                                    <!-- Message -->
                                    <div class="md-form md-outline">
                                        <textarea id="message" class="md-textarea form-control" rows="3"></textarea>
                                        <label for="message">Your Message</label>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-md btn-block ml-0 mb-0">Submit
                                        inquiry</button>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-5 offset-md-1 mt-md-4 mb-4 white-text">

                            <h5 class="font-weight-bold">Address</h5>
                            <p class="mb-0">1632 Main Street</p>
                            <p class="mb-0">New York, 94126</p>
                            <p class="mb-4 pb-2">United States</p>

                            <h5 class="font-weight-bold">Phone</h5>
                            <p class="mb-4 pb-2">+ 01 234 567 89</p>

                            <h5 class="font-weight-bold">Email</h5>
                            <p>info@gmail.com</p>

                        </div>
                    </div>

                </form>

            </div>

        </section>
        <!--Section: Content-->


    </div>

</div>